body {
    margin: 0;
}

div {
    width: 1200px;
    margin: 0 auto;
}

.player {
    height: 100vh;
    background-image: url("../assets/img/bg1.jpg");
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center center; 
}
