.player {
    height: 80vh;
    padding-top: 10%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/bg1.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}

.canvas-player {
    width: 1200px;
    height: 60vh;
}

div.player-buttons-container {
    position: relative;
    top: -500px;
    height: 500px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.player-buttons-container div {
    cursor: pointer;
}
.player-buttons-container-list {
    width: 50px;
    height: 50px;
    padding-top: 2%;
    margin: 0 auto;
}

.player-buttons-container-backward {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 25%;
    padding-left: 10%;
    float: left;
}

.player-buttons-container-forward {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 25%;
    padding-right: 10%;
    float: right;
}

.player-buttons-container-playpause {
    width: 50px;
    height: 50px;
    padding-top: 58%;
}

.counter {
    position: absolute;
    top: 45vh;
    left: 48%;
    width: 150px;
    height: 50px;
    font-size: 2em;
    
}

.player-title {
    position: absolute;
    top: 54vh;
    left: 42%;
    text-align: center;
    width: 300px;
    height: 50px;
    font-size: 1.1em;
    font-weight: bold;
}

.player-author {
    position: absolute;
    top: 58vh;
    left: 43%;
    text-align: center;
    width: 300px;
    height: 50px;
    font-size: 1em;
}