.playlist {
    height: 80vh;
    padding-top: 10%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/img/bg2.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
}

.playlist hr {
    width: 50%;
}

.playlist ul {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    list-style: none;
    text-align: center;
}

.playlist ul li {
    margin-bottom: 3%;
    cursor: pointer;
}

.playlist .title {
    font-weight: bold;
    margin-bottom: -10px;
}

.playlist .stop-playback {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}