.playlist {
    height: 80vh;
    padding-top: 10%;
    color: #FFF;
    background-image: url("../assets/img/bg2.jpg");
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center center; 
}

.playlist hr {
    width: 50%;
}

.playlist ul {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    list-style: none;
    text-align: center;
}

.playlist ul li {
    margin-bottom: 3%;
}

.playlist ul li:hover {
    cursor: pointer;
}

.playlist .title {
    font-weight: bold;
    margin-bottom: -10px;
}

.playlist .stop-playback {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}